.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.first_page_gif{
  min-height: 10vh;

}


.login_register{
  background-color: #ffffff;
  color:#8d0f7c;
  font-family: 'Caveat Brush', cursive;
  font-size: 40px;

}
.login_create_account{
  color:#8d0f7c;
  font-family: 'Caveat Brush', cursive;
  font-size: 15px;

}

.App-link {
  color: #61dafb;
}

.login_button:hover{
  
}

.login_button{
  background-color: rgb(163, 31, 119);
  color: white;
  border: 2px solid #8d0f7c;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 22px;
  font-family: 'Caveat Brush', cursive;
}

.brush_font_navbar{
  font-family: 'Caveat Brush', cursive;
  font-size: 100px;
  color: #8d0f7c;
}

.brush_font{
  font-family: 'Caveat Brush', cursive;
  font-size: 80px;
  color: #8d0f7c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
